.Body{
    width: 100vw;
    min-height: 90vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: top;
    
}
.BodyHeader{
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction:row;
    
}

.BodyHeaderItem{
    width: 50vw;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: grey;
    border-left: 1px rgb(61, 61, 61) solid;
    border-right: 1px rgb(61, 61, 61) solid;
}
.Container{
    width: 100vw;
    overflow-y:scroll;
}
